

<div class="row">
    <div class="col-md-4" *ngFor="let movie of getmovie">
        <mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title> {{movie.moviename}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image class="card-img" src="{{movie.img}}" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      {{movie.content}}
    </p>
  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-between">
    <button
    (click)="onedit(movie)"
    mat-raised-button color="primary">Edit</button>
    <button
    (click)="onRemove(movie.movieId)"
    mat-raised-button color="warn" >Delete</button>
  </mat-card-actions>
</mat-card>

    </div>
</div>
