<div class="card mt-3">
    <div class="card-body">
        <h2 class="text-center">{{isinEdit ? 'Update Student' : 'Add Student'}}</h2>
        <div class="form-group">
    <label for="fname">Fname</label>
    <input type="text" class="form-control" #fname>
</div>

<div class="form-group">
    <label for="lname">Lname</label>
    <input type="text" class="form-control" #lname>
</div>

<div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" #email>
</div>

<div class="form-group">
    <label for="contact">Contact</label>
    <input type="text" class="form-control" #contact>
</div>

<div class="form-group">
    <label for="isactive">Isactive</label>
    
    <select type="text" class="form-control" #isactive>
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
</div>

<button
(click)="onaddstd()"
*ngIf="!isinEdit"
class="btn-block btn-outline-primary">Add Student</button>
<button
(click)="onupdatestd()"
*ngIf="isinEdit"
class="btn-block btn-outline-danger">Update Student</button>

    </div>
</div>